{{#if editingSong}}

	<div class="library-songs_editor">
		{{library-song-editor
			song=editingSong
			store=store
			doneEditingAction="doneEditingSong"}}
	</div>

{{else}}

	<div class="library-songs_list">
		<p>All Songs</p>
		<ul>
			{{#each song in songs}}
				<li {{action "previewSong" song}}>[{{song.title}}]</li>
			{{/each}}
		</ul>
	</div>

	<div class="library-songs_preview">
		{{#if previewingSong}}
			<h1>Preview for Song #{{previewingSong.id}}</h1>
			<h2>{{previewingSong.title}}</h2>
			<h3>{{previewingSong.description}}</h3>
			<p>{{previewingSong.lyrics}}</p>

			<div {{action "addSongToService" previewingSong}}>[Add to Service]</div>
			<div {{action "startEditingSong" previewingSong}}>[Edit...]</div>
		{{/if}}
	</div>

{{/if}}
