{{#if isCreatingSong}}

	<div class="library-songs_editor">
		{{library-song-editor
			store=store
			doneEditingAction="doneCreatingSong"}}
	</div>

{{else}}{{#if editingSong}}

	<div class="library-songs_editor">
		{{library-song-editor
			song=editingSong
			store=store
			doneEditingAction="doneEditingSong"}}
	</div>

{{else}}

	<div class="library-songs_list">
		<div class="lsli-miniheading">All Songs</div>
		<ul>
			<li class="lsli lsli-create" {{action "startCreatingSong"}}>Create New <i class="fa fa-angle-right"></i></li>
			{{#each song in songs}}
				<li class="lsli" {{action "previewSong" song}}>
					<span class="lsli-title">{{song.title}}</span>
					<span class="lsli-description">{{song.description}}</span>
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="library-songs_sidepreview">
		{{#if previewingSong}}
			<div class="lsp-head">
				<div class="lsp-title">{{previewingSong.title}}</div>
				<div class="lsp-description">{{previewingSong.description}}</div>
				<div class="lsp-id">ID: {{previewingSong.id}}</div>
				<div class="lsp-controls">
					<div class="lsp-control" {{action "addSongToService" previewingSong}}><i class="fa fa-plus"></i> Add to service</div>
					<div class="lsp-control" {{action "startEditingSong" previewingSong}}>Edit <i class="fa fa-angle-right"></i></div>
				</div>
			</div>
			<div class="lsp-preview">
				{{library-song-previewer
					song=previewingSong}}
			</div>
		{{/if}}
	</div>

{{/if}}{{/if}}
