<div class="item {{if isSelected 'selected'}}" data-ds-id="{{item.id}}" {{action "select"}}>
	<div class="background-image"></div>
	<div class="top">
		<div class="display-name">{{item.name}}</div>
	</div>
	<div class="bottom">
		<div class="burger light"><i class="fa fa-bars"></i></div>
		<div class="caption">{{item.description}}</div>
	</div>
</div>
