{{#if isBrowsingServices}}

	<div class="head">
	<div class="back" {{action "toggleBrowsingServices"}}><i class="fa fa-angle-left"></i> Back</div>
		<div class="name name-services-list-heading">All Services</div>
	</div>		
	<div class="services">
		<li class="create-new-service"><span {{action "createNewService"}}>Create New <i class="fa fa-angle-right"></i></span></li>
		{{#each oneservice in services}}
			{{service-oos-list-service-li
				service=oneservice
				selectedService=service
				selectServiceAction="selectService"}}
		{{/each}}
	</div>

{{else}}

	<div class="head">
		{{#unless isRenamingService}}
			<div class="burger dark" {{action "toggleBrowsingServices"}}>
				<i class="fa fa-bars"></i>
			</div>
			<div class="name name-service" {{action "startRenamingService"}}>{{service.name}}</div>
		{{else}}
			<div class="rename-save" {{action "doneRenamingService"}}><i class="fa fa-check"></i> Save</div>
			<div class="input-name-container">{{input type="text" value=service.name classBinding=":input-name"}}</div>
		{{/unless}}
	</div>		
	<div class="items">
		{{#each item in service.items}}
			{{service-oos-item item=item selectAction="selectItem" selectedItem=selectedItem}}
		{{/each}}
	</div>

{{/if}}
