{{#if isBrowsingServices}}

	<div class="head">
		<div class="burger dark" {{action "toggleBrowsingServices"}}>
			<i class="fa fa-bars"></i>
		</div>
		<div class="name">All Services</div>
	</div>		
	<div class="services">
		<li {{action "createNewService"}}>[Add New Service]</li>
		{{#each service in services}}
			<li {{action "selectService" service}}>{{service.name}}</li>
		{{/each}}
	</div>

{{else}}

	<div class="head">
		{{#unless isRenamingService}}
			<div class="burger dark" {{action "toggleBrowsingServices"}}>
				<i class="fa fa-bars"></i>
			</div>
			<div class="name" {{action "startRenamingService"}}>{{service.name}}</div>
		{{else}}
			<div class="rename-save" {{action "doneRenamingService"}}>[Save]</div>
			{{input type="text" value=service.name}}
		{{/unless}}
	</div>		
	<div class="items">
		{{#each item in service.items}}
			{{service-oos-item item=item selectAction="selectItem" selectedItem=selectedItem}}
		{{/each}}
	</div>

{{/if}}
