<!-- Service Item Settings -->
<div class="item-settings">
	<div class="sequence is">
		<div class="head">
			<div class="io-toggle">
				{{input type="checkbox" name="isSequenceEnabled" checked=serviceItem.isSequenceEnabled}}
			</div>
			<div class="name">Sequence</div>
		</div>
		<div class="blocks">
			{{#each lyricsBlock in song.primaryLyricsVersion.lyricsBlocks}}
				<div class="block" block-name="{{lyricsBlock.name}}">{{lyricsBlock.name}}</div>
			{{/each}}
		</div>
	</div>
	<div class="versions is">
		<div class="head">
			<div class="name">Versions</div>
		</div>
		<div class="v-cc">
			{{#each lyricsVersion in song.lyricsVersions}}
				<label>
					{{input type="checkbox" checked=false}} {{!-- TODO --}}
					{{lyricsVersion.name}}
				</label>
			{{/each}}
		</div>
	</div>
</div>

<!-- Service Item Contents -->
<div class="item-contents lyrics">
	<div class="os-toggle">
		<div class="toggle active">Original</div>
		<div class="toggle">Sequenced</div>
	</div>
	<div class="lyrics-cc">
		{{#each lyricsBlock in song.primaryLyricsVersion.lyricsBlocks}}
			{{service-mp-song-lyrics-block
				lyricsBlock=lyricsBlock
				activeLyricsBlock=activeLyricsBlock
				activeLyric=activeLyric
				activateLyricAction="activateLyric"}}
		{{/each}}
	</div>
</div>
