<h1>Song Editor</h1>

<div>
	<p>Title</p>
	{{input type="text" name="songTitle" value=model.title}}
</div>

<div>
	<p>Description</p>
	{{input type="text" name="songDescription" value=model.description}}
</div>

{{#each lyricsVersion in model.lyricsVersions}}
<div>
	<p>LyricsVersion: {{lyricsVersion.name}} ({{lyricsVersion.id}})</p>
	{{#each lyricsBlock in lyricsVersion.lyricsBlocks}}
		<div>
			{{input type="text" value=lyricsBlock.name}}
			<textarea cols="50" rows="10">{{lyricsBlock.lnLyrics}}</textarea>
		</div>
	{{/each}}
</div>
{{/each}}
