<div class="service page">

	<!-- Left Pane -->
	<div class="left pane">
		<div class="order-of-service">
			<div class="head">
				<div class="burger dark">
					<i class="fa fa-bars"></i>
				</div>
				<div class="name">{{service.name}}</div>
			</div>		
			<div class="items">
				{{#each item in service.items}}
					<div class="item active" data-ds-id="{{item.id}}" {{action "setCurrentItem" item}}>
						<div class="background-image"></div>
						<div class="top">
							<div class="display-name">{{item.name}}</div>
						</div>
						<div class="bottom">
							<div class="burger light"><i class="fa fa-bars"></i></div>
							<div class="caption">{{item.description}}</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="styling">
			<div class="head">
				<div class="burger dark">
					<i class="fa fa-bars"></i>
				</div>
				<div class="name">Style 1</div>
			</div>
			<div class="styles">
				<div class="style">
					<div class="label">Font family</div>
					<select name="font-family" class="value">
						<option value="Montserrat">Montserrat</option>
						<option value="Muli">Muli</option>
					</select>
				</div>
				<div class="style">
					<div class="label">Font size</div>
					<select name="font-size" class="value">
						<option value="32px">32px</option>
						<option value="36px">36px</option>
						<option value="auto">Automatic</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Middle Pane -->
	<div class="middle pane">

		<!-- Service Item Settings -->
		<div class="item-settings">
			<div class="sequence is">
				<div class="head">
					<div class="io-toggle">
						{{input type="checkbox" name="isSequenceEnabled" checked=currentItem.isSequenceEnabled}}
					</div>
					<div class="name">Sequence</div>
				</div>
				<div class="blocks">
					<div class="block" block-name="Verse 1">Verse 1</div>
					<div class="block" block-name="Verse 2">Verse 2</div>
					<div class="block" block-name="Verse 3">Verse 3</div>
					<div class="block" block-name="Verse 4">Verse 4</div>
					<div class="block" block-name="Verse 5">Verse 5</div>
					<div class="block" block-name="Ending">Ending</div>
				</div>
			</div>
			<div class="versions is">
				<div class="head">
					<div class="name">Versions</div>
				</div>
				<div class="v-cc">
					<label>
						<input type="checkbox" value="English" checked="checked">English
					</label>
					<label>
						<input type="checkbox" value="Indonesian" checked="checked">Indonesian
					</label>
				</div>
			</div>
		</div>

		<!-- Service Item Contents -->
		<div class="item-contents lyrics">
			<div class="os-toggle">
				<div class="toggle active">Original</div>
				<div class="toggle">Sequenced</div>
			</div>
			<div class="lyrics-cc">
				<div class="lyrics-block" block-name="Verse 1">
					<div class="block-name">Verse 1</div>
					<div class="lyrics">
						<div class="lyric active">You are my vision, O king of my heart</div>
						<div class="lyric">Nothing else satisfies, only You, Lord</div>
						<div class="lyric">You are my best thought by day or by night</div>
						<div class="lyric">Waking or sleeping, Your presence, my light</div>
					</div>
				</div>
				<div class="lyrics-block" block-name="Verse 2">
					<div class="block-name">Verse 2</div>
					<div class="lyrics">
						<div class="lyric">You are my wisdom, You are my true word</div>
						<div class="lyric">I ever with You, and You with me, Lord</div>
						<div class="lyric">You're my great Father, and I'm Your true son</div>
						<div class="lyric">You dwell inside me, together we're one</div>
					</div>
				</div>
				<div class="lyrics-block" block-name="Verse 3">
					<div class="block-name">Verse 3</div>
					<div class="lyrics">
						<div class="lyric">You are my battle-shield, sword for the fight</div>
						<div class="lyric">You are my dignity, You're my delight</div>
						<div class="lyric">You're my soul's shelter and You're my high tower</div>
						<div class="lyric">Come, raise me heavenward, O Power of my power</div>
					</div>
				</div>
				<div class="lyrics-block" block-name="Verse 4">
					<div class="block-name">Verse 4</div>
					<div class="lyrics">
						<div class="lyric">I don't want riches or a man's empty praise</div>
						<div class="lyric">You're my inheritance, now and always</div>
						<div class="lyric">You and You only, the first in my heart</div>
						<div class="lyric">High king of heaven, my treasure You are</div>
					</div>
				</div>
				<div class="lyrics-block" block-name="Verse 5">
					<div class="block-name">Verse 5</div>
					<div class="lyrics">
						<div class="lyric">High king of heaven, when victory's won</div>
						<div class="lyric">May I reach heaven's joy, O bright heaven's Son</div>
						<div class="lyric">Heart of my own heart, whatever befall</div>
						<div class="lyric">Still be my vision, O ruler of all</div>
					</div>
				</div>
				<div class="lyrics-block" block-name="Ending">
					<div class="block-name">Ending</div>
					<div class="lyrics">
						<div class="lyric">Heart of my own heart, whatever befall</div>
						<div class="lyric">Still be my vision, O ruler of all</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Right Pane -->
	<div class="right pane">

		<!-- Congregation Control Panel -->
		<div class="congregation control-panel">
			<div class="head">
				<div class="name">Congregation</div>
			</div>
			<div class="miniscreen">
				<div class="main lyric">You are my vision, O king of my heart</div>
				<div class="secondary lyric">Engkaulah visiku, O raja hatiku</div>
			</div>
			<div class="controls">
				<div class="control">
					<div class="icon"><i class="fa fa-square-o"></i></div>
					<div class="caption">Clear</div>
				</div>
				<div class="control">
					<div class="icon"><i class="fa fa-square"></i></div>
					<div class="caption">Black</div>
				</div>
				<div class="control">
					<div class="icon"><i class="fa fa-times"></i></div>
					<div class="caption">Off</div>
				</div>
			</div>
		</div>

		<!-- Team Control Panel -->
		<div class="team control-panel">
			<div class="head">
				<div class="name">Team</div>
			</div>
			<div class="miniscreen">
				<div class="lyrics-cc">
					<div class="lyrics-block">
						<div class="block-name">Verse 1</div>
						<div class="lyrics">
							<div class="lyric active">You are my vision, O king of my heart</div>
							<div class="lyric">Nothing else satisfies, only You, Lord</div>
							<div class="lyric">You are my best thought by day or by night</div>
							<div class="lyric">Waking or sleeping, Your presence, my light</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
