<!-- Service Item Settings -->
<div class="item-settings">
	<div class="sequence is">
		<div class="head">
			<div class="io-toggle">
				{{input type="checkbox" name="isSequenceEnabled" checked=currentItem.isSequenceEnabled}}
			</div>
			<div class="name">Sequence</div>
		</div>
		<div class="blocks">
			{{#each lyricsBlock in song.primaryLyricsVersion.lyricsBlocks}}
				<div class="block" block-name="{{lyricsBlock.name}}">{{lyricsBlock.name}}</div>
			{{/each}}
		</div>
	</div>
	<div class="versions is">
		<div class="head">
			<div class="name">Versions</div>
		</div>
		<div class="v-cc">
			{{#each lyricsVersion in song.lyricsVersions}}
				<label>
					{{input type="checkbox" checked=false}} {{!-- TODO --}}
					{{lyricsVersion.name}}
				</label>
			{{/each}}
		</div>
	</div>
</div>

<!-- Service Item Contents -->
<div class="item-contents lyrics">
	<div class="os-toggle">
		<div class="toggle active">Original</div>
		<div class="toggle">Sequenced</div>
	</div>
	<div class="lyrics-cc">
		{{#each lyricsBlock in song.primaryLyricsVersion.lyricsBlocks}}
			<div class="lyrics-block" block-name="{{lyricsBlock.name}}">
				<div class="block-name">{{lyricsBlock.name}}</div>
				<div class="lyrics">
					{{#each lyric in lyricsBlock.lyrics}}
						<div class="lyric" {{action "activateLyric" lyric}}>{{lyric.text}}</div>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
